html{
  background-color: white;
}

header {
  padding:0em;
  margin:0em;
  background-color: pink;
}

h1 {
  font-family: 'Sigmar One', cursive;
  text-align: center;
  color: hotpink;
  margin: 0;
}

h2 {
  font-family: 'Sigmar One', cursive;
  color: hotpink;
  font-size: 1.2rem;
}

h3 {
  font-family: 'Sigmar One', cursive;
  color: hotpink;
  font-size: 1rem;
}

p{
  font-size: 0.8rem;
  line-height: 1.4em;
  color: black;
}

.quotation-mark{
  text-align: center;
  font-size: 2.5rem;
  font-family: georgia;
  font-style: italic;
  display: block;
  color: purple;
}

blockquote{
  font-style: italic;
  font-family: georgia;
  font-size: 0.8rem;
  line-height: 1.6em;
  text-align: center;
  color: purple;
  margin: 0em;
}

li {
  display: inline-block;
  color: black;
  background-color: hotpink;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.5em 0em;
}

li:hover{
  background-color: white;
}

nav a {
  text-decoration: none;
  margin: 0.5em;
}

ol{
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}

dd{
 margin: 0em 0em .5em;
}

dt{
  margin: 0em 0em 0.2em;
  font-weight: bold;
}

img {
  width: 100%;
  margin: 0em 0em 0.4em;
}

figure {
  border: 2px solid beige;
  background-color: lightyellow;
  border-radius: 7px;
  padding: .5em;
  margin: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.7rem;
}

cite{
  display: block;
  padding: 0em 0em 1.7em 0em;
}

.line-separator{
height:3px;
background:pink;
border-bottom:1px solid pink;
}

.per{
  font-style: italic;
  font-family: georgia;
}

footer{
  background-color:pink;
  text-align: center;
  padding: .2em;
  margin: 1em 0em;
  font-family: georgia;
}

.wiki{
  font-family: georgia;
  color: red;
  text-decoration: underline;

}
